[neil strickland]
{ghostscript}
ghostscript=C:\Program Files\gs\gs8.64\bin\gswin32c.exe
{parameters}
resolution=600
color.model=1
compatibility.level=1
interpolate=true
flat.compression=true
auto.rotate=true
optimization=false
orientation=0
additional=false
additional.string=
{settings}
beep.when.done=true
exit.when.done=false
save.position.when.exit=false
save.everything.when.exit=true
show.search.results=false
show.confirmations=false
preserve.attributes=true
preserve.date.time=false
convert.all=true
kind=0
days=1
shell.command.enabled=true
previewer=0
{selectdir}
selected.directory=
searching.subdirectories=true
{position}
main=62,23,418,394
config=138,65,281,277
gspath=139,66,499,125
parameters=138,67,424,234
settings=139,67,370,284
convert=62,416,409,148
selectdir=62,62,323,246
searchgs=138,191,497,173
about=214,65,304,327
